body {
  font-family: "Open sans", sans-serif;
  margin: 0;
  padding: 0; }

.bg1::after {
  background-image: url("/images/background-1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat; }

.bg2::after {
  background-image: url("/images/background-2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat; }

.bg3:after {
  background-image: url("/images/background-3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat; }

.card {
  border-bottom: 4rem solid #30353f; }

.card-img-top {
  height: 299.72px; }

h1, h2 {
  font-family: "Lexend Mega", sans-serif; }

img {
  height: auto;
  width: 100%; }

.nav-item .nav-link {
  color: rgba(0, 0, 0, 0.6); }

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1; }

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000; }

.static {
  background: #fafafa; }

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px; }

.wrapper h1 {
  color: red; }

.read-more {
  position: relative;
  border-bottom: 6px solid #303535; }
  .read-more a {
    display: block;
    position: relative;
    height: 2rem;
    outline: none;
    text-align: right;
    background-color: #fff; }
    .read-more a .before {
      float: right;
      border-bottom: 2rem solid #30353f;
      border-left: 2rem solid transparent; }
    .read-more a .more {
      float: right;
      position: relative;
      bottom: 0;
      width: 12rem;
      height: 2rem;
      margin-right: 0;
      padding: .8rem 2.5rem 0;
      color: #fff;
      background-color: #30353f;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1;
      text-align: right;
      text-transform: lowercase; }

.card-body-now .more {
  position: relative;
   }
